
@{
    ViewBag.Title = "Edit";
}

<h2>Edit comment</h2>
<form method="post" action="/Comments/Edit/@ViewBag.Comment.CommentId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Comment content</label>
    <br />
    <textarea name="Content">@ViewBag.Comment.Content</textarea>
    <br />
    <button type="submit">Edit comment</button>
</form>

