
@{
    ViewBag.Title = "Modify Tag";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/Tags/Edit/@ViewBag.Tag.TagId">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    <label>Tag Name</label>
    <br /> <input type="text" name="TagName" value="@ViewBag.Tag.TagName" />
    <br /><br />

    <button class="btn btn-success" type="submit">Modify tag!</button>
</form>

